@import "tailwindcss";

@theme {
  --color-background: #020617; /* void */
  --color-foreground: #e2e8f0; /* text-main */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: theme('fontFamily.sans');
}

h1, h2, h3, h4, h5, h6 {
  font-family: theme('fontFamily.serif');
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f59f0a;
}
