@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set the default atmosphere to The Void */
  body {
    @apply bg-void text-slate-100 font-sans antialiased selection:bg-amber selection:text-void overflow-x-hidden;
  }

  /* All Headers use the Arcane Font (Cinzel) and Magic Color (Amber) */
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif text-amber font-bold tracking-wide;
  }
}

/* Custom scrollbar for the "Ancient Scroll" feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-void;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-amber-dim;
}